Create a Fully Working Wallet API Based on Nodejs
- Tasks Included :
# Maintain User session with JWT token
# Send Email Verification Mail to User on Signup
# Login with Password/OTP
# Give Fake Balance on User Signup
# Manage Transfer Functionality between Users
# Show Transaction Details (Admin/User View)
# Send Transaction Success/Failure Details to User on Email